# --- Python / Django ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
/env/
/venv/
pip-log.txt
pip-delete-this-directory.txt

# --- Node / React ---
/node_modules/
/dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store
*.swp

# --- Docker ---
# Можно добавить Docker-кэш, если он создается локально
.dockerignore 

# --- СЕКРЕТЫ ---
# Самое главное правило!
*.env
*.env.*
!*.env.example